<div class="container-fluid bg-light">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <h5>Chemistry {{site.chemlogo}}</h5>
                    <ul class="nav flex-column">
                        {% for nav in site.data.chemistry-nav %}
                        <li class="nav-item mb-2"><a href="{{ nav.link | relative_url }}" class="nav-link p-0 text-body-secondary">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Maths {{site.mathlogo}}</h5>
                    <ul class="nav flex-column">
                        {% for nav in site.data.maths-nav %}
                        <li class="nav-item mb-2"><a href="{{ nav.link | relative_url }}" class="nav-link p-0 text-body-secondary">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Physics {{site.physicslogo}}</h5>
                    <ul class="nav flex-column">
                        {% for nav in site.data.physics-nav %}
                        <li class="nav-item mb-2"><a href="{{ nav.link | relative_url }}" class="nav-link p-0 text-body-secondary">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Biology {{site.biologo}}</h5>
                    <ul class="nav flex-column">
                        {% for nav in site.data.bio-nav %}
                        <li class="nav-item mb-2"><a href="{{ nav.link | relative_url }}" class="nav-link p-0 text-body-secondary">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3 offset-md-1 mb-3">
                        <h5>Has this site helped?</h5>
                        <p>This website is a <i>not for profit</i> site. If you have used these materials extensively then please consider making a donation to my charity of choice. <span class="badge bg-secondary">Coming Soon</span></p>
                </div>
            </div>

            <div class="border-top pt-4 mt-4">
                <p class="text-secondary fs-6">SQA Past Papers and SQA Marking Schemes found here are exclusively for supporting studies of SQA qualifications. Their use for any other purpose requires explicit permission from SQA. 
                    The remaining materials published on this site are the property of JABchem. Learners are encouraged to use them for study support, but please refrain from distributing them online. Instead, let's spread the word about this site!
                    Educational establishments interested in using these materials must seek permission first. If appropriate, we typically expect an exchange of equivalent resources in return.</p>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>&copy; 2024 JABchem. All rights reserved.</p>
                
                <p><a href="{{site.reporturl}}{{page.url}}" style="text-decoration: none;">Report Problem</a> | <a href="{{site.request}}" style="text-decoration: none;">Request Permission</a> | <a href="{{ '/privacy' | relative_url }}" style="text-decoration: none;">Privacy</a></p>
                
            </div>
        </footer>
    </div>
</div>