<div class="container-fluid bg-light">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <h5>Chemistry {{site.chemlogo}}</h5>
                    <ul class="nav flex-column">
                        {% for nav in site.data.chemistry-nav %}
                        <li class="nav-item mb-2"><a href="{{ nav.link | relative_url }}" class="nav-link p-0 text-body-secondary">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Maths {{site.mathlogo}}</h5>
                    <ul class="nav flex-column">
                        {% for nav in site.data.maths-nav %}
                        <li class="nav-item mb-2"><a href="{{ nav.link | relative_url }}" class="nav-link p-0 text-body-secondary">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Physics {{site.physicslogo}}</h5>
                    <ul class="nav flex-column">
                        {% for nav in site.data.physics-nav %}
                        <li class="nav-item mb-2"><a href="{{ nav.link | relative_url }}" class="nav-link p-0 text-body-secondary">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Biology {{site.biologo}}</h5>
                    <ul class="nav flex-column">
                        {% for nav in site.data.bio-nav %}
                        <li class="nav-item mb-2"><a href="{{ nav.link | relative_url }}" class="nav-link p-0 text-body-secondary">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3 offset-md-1 mb-3">
                        <h5>Has this site helped?</h5>
                        <p>This website is a <i>not for profit</i> site. If you have used these materials extensively then please consider making a donation to my charity of choice.</p>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>&copy; 2023 JABchem. All rights reserved.</p>
                
            </div>
        </footer>
    </div>
</div>