<div class="sticky-top">
<div class="container-fluid sticky-top d-none d-sm-block pt-2 pb-2" style="background-color: 
    {% if page.subject == "Chemistry" %}#{{site.chemcolour}}{% endif %}
    {% if page.subject=="Maths"%}#{{site.mathcolour}}{% endif %}
    {% if page.subject=="Physics" %}#{{site.physicscolour}}{% endif %}
    {% if page.subject=="Biology" %}#{{site.biocolour}}{% endif %};">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pb-0 mb-0">
                <li class="breadcrumb-item text-secondary">
                    {% if page.subject == "Chemistry" %}{{site.chemlogo}}{% endif %}
                    {% if page.subject == "Maths" %}{{site.mathlogo}}{% endif %}
                    {% if page.subject == "Physics" %}{{site.physicslogo}}{% endif %}
                    {% if page.subject == "Biology" %}{{site.biologo}}{% endif %}
                </li>
                <li class="breadcrumb-item text-secondary">{{page.subject}}</li>
                <li class="breadcrumb-item active" aria-current="page">{{page.title}} <i class="bi bi-chevron-down"></i></li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid bg-light d-none d-sm-block">
    <div class="container">
        <nav class="nav nav-pills flex-column flex-sm-row pb-2 pt-2">
        {% case page.subject %}
            {% when "Chemistry" %}
            {% for nav in site.data.chemistry-nav %}
            <li class="nav-item">
            <a class="flex-sm-fill text-sm-center nav-link {% if page.url == nav.link %}active{% endif %}"
                href="{{ nav.link | relative_url }}">{{ nav.title }}</a>
            </li>
            {% endfor %}
            {% when "Maths" %}
            {% for nav in site.data.maths-nav %}
            <li class="nav-item">
            <a class="flex-sm-fill text-sm-center nav-link {% if page.url == nav.link %}active{% endif %}"
                href="{{ nav.link | relative_url }}">{{ nav.title }}</a>
            </li>
            {% endfor %}
            {% when "Physics" %}
            {% for nav in site.data.physics-nav %}
            <li class="nav-item">
            <a class="flex-sm-fill text-sm-center nav-link {% if page.url == nav.link %}active{% endif %}"
                href="{{ nav.link | relative_url }}">{{ nav.title }}</a>
                </li>
            {% endfor %}
            {% when "Biology" %}
            {% for nav in site.data.bio-nav %}
            <li class="nav-item">
            <a class="flex-sm-fill text-sm-center nav-link {% if page.url == nav.link %}active{% endif %}"
                href="{{ nav.link | relative_url }}">{{ nav.title }}</a>
            {% endfor %}
        {% endcase %}
        </nav>
    </div>
</div>
</div>
<!--
    Mobile Navigation Below
-->

<div class="container-fluid pt-3 sticky-top d-sm-none" style="background-color: 
    {% if page.subject == "Chemistry" %}#{{site.chemcolour}}{% endif %}
    {% if page.subject=="Maths"%}#{{site.mathcolour}}{% endif %}
    {% if page.subject=="Physics" %}#{{site.physicscolour}}{% endif %}
    {% if page.subject=="Biology" %}#{{site.biocolour}}{% endif %};"
role="alert">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item text-secondary">
                    {% if page.subject == "Chemistry" %}{{site.chemlogo}}{% endif %}
                    {% if page.subject == "Maths" %}{{site.mathlogo}}{% endif %}
                    {% if page.subject == "Physics" %}{{site.physicslogo}}{% endif %}
                    {% if page.subject == "Biology" %}{{site.biologo}}{% endif %}
                </li>
                <li class="breadcrumb-item text-secondary">{{page.subject}}</li>
                <li class="breadcrumb-item active" aria-current="page">
                    <button class="btn btn-link p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown" onclick="toggleChevron(this)">
                        {{page.title}} <i class="bi bi-chevron-right"></i><i class="bi bi-chevron-down d-none"></i>
                    </button>
                </li>
            </ol>
        </nav>

        <div id="navbarNavDropdown" class="collapse">
            <nav class="nav nav-pills flex-column flex-sm-row mb-3 mt-2">
            {% case page.subject %}
                {% when "Chemistry" %}
                {% for nav in site.data.chemistry-nav %}
                <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link {% if page.url == nav.link %}active{% endif %}"
                    href="{{ nav.link | relative_url }}">{{ nav.title }}</a>
                </li>
                {% endfor %}
                {% when "Maths" %}
                {% for nav in site.data.maths-nav %}
                <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link {% if page.url == nav.link %}active{% endif %}"
                    href="{{ nav.link | relative_url }}">{{ nav.title }}</a>
                </li>
                {% endfor %}
                {% when "Physics" %}
                {% for nav in site.data.physics-nav %}
                <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link {% if page.url == nav.link %}active{% endif %}"
                    href="{{ nav.link | relative_url }}">{{ nav.title }}</a>
                </li>
                {% endfor %}
                {% when "Biology" %}
                {% for nav in site.data.bio-nav %}
                <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link {% if page.url == nav.link %}active{% endif %}"
                    href="{{ nav.link | relative_url }}">{{ nav.title }}</a>
                </li>
                {% endfor %}
                <!-- Repeat for other subjects -->
            {% endcase %}
            </nav>
        </div>
    </div>
</div>

{% if page.tables != null %}
<div class="container mt-4">
    <h1>{{page.hero}}</h1>
    {{page.subtext}}
</div>
<div class="container mt-4">
    <div class="alert pt-0 pb-0 bg-light" style="background-color: #c3e8ff;" role="alert">
        <ul class="nav">
            {% for heading in page.tables %}
            <li class="nav-item "><a class="nav-link" href="#{{ heading.id }}">{{ heading.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<script>
    function toggleChevron(button) {
        const icons = button.getElementsByTagName('i');
        Array.from(icons).forEach(icon => icon.classList.toggle('d-none'));
    }
</script>