{% for table in page.tables %}
<h3 class="mb-3" id="{{table.id}}">{{table.title}}</h3>
<p>{{table.description}}</p>
<div class="container mb-3">
    <table id="myTable" class="table table-sm table-hover mb-5">
        {% if table.caption %}
        <caption>{{table.caption}}</caption>
        {% endif %}
        <thead>
            <tr>
                {% for col in table.cols %}
                <th scope="col">{{col.heading}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% assign has_year = false %}
            {% assign has_hash = false %}
            {% for col in table.cols %}
                {% if col.heading == 'Year' %}
                    {% assign has_year = true %}
                {% elsif col.heading == '#' %}
                    {% assign has_hash = true %}
                {% endif %}
            {% endfor %}

            {% if has_year %}
                {% assign sorted_downloads = site.downloads | sort: 'Year' | reverse %}
            {% elsif has_hash %}
                {% assign sorted_downloads = site.downloads | sort: '#' %}
            {% else %}
                {% assign sorted_downloads = site.downloads %}
            {% endif %}
            
            {% for item in sorted_downloads %}
                {% if item.category == table.id and page.subject == item.subject and page.level == item.level %}
                    <tr>
                        {% for col in table.cols %}
                            {% assign heading_key = col.heading %}
                            {% assign heading_value = item[heading_key] %}
                            <td {% if forloop.index0 == 0 %}style="font-weight: bold;"{% endif %}>
                                {% if heading_value %}
                                    {% if heading_value.first %}
                                        {% for file in heading_value %}
                                            {% if file.url and file.link_text %}
                                                <a href="{{ file.url }}" class="link-primary" style="text-decoration: none;">{{ file.link_text }} <i class="fa-regular fa-file-pdf"></i><br/>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% if heading_value.url and heading_value.link_text %}
                                            <a href="{{ heading_value.url }}" class="link-primary" style="text-decoration: none;">{{ heading_value.link_text }} <i class="fa-regular fa-file-pdf"></i></a>
                                        {% else %}
                                            {{ heading_value }}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <span class="badge bg-secondary">Missing</span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

</div>
{% endfor %}
